@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  position: absolute;
  top: 20px; 
  left: 20px; 
  z-index: 1000; 
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; 
  height: auto; 
}

.logo-text {
  margin-left: 15px; 
  font-size: px;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #000000, #022c3f);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin-top: 60px;
  text-align: center;
  margin-bottom: -60px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.rainbow-border {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}

.rainbow-border::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.inner-border {
  position: relative;
  background: #1c1b29;
  border-radius: 20px;
  z-index: 1;
}

.player {
  width: 340px;
  background: #f1f3f4;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 50px 80px rgba(16, 118, 156, 0.5);
}

.player .imgbox {
  width: 100%;
  height: 300px; 
}

.player .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.player audio {
  width: 100%;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wrapper {
  width: 960px; 
  height: 540px; 
  background: #f1f3f4;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 50px 80px rgba(16, 118, 156, 0.5);
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left-controls, .right-controls {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

input[type="range"] {
  width: 400px; 
  margin: 0; 
}

.container1 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px hsl(170, 85%, 41%);
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://i.pinimg.com/564x/9d/60/55/9d60557fedbf9f8badbf188aa83ea7a5.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://i.pinimg.com/564x/bb/56/9d/bb569d3ae51a80e9d75d5ec7f4bd951b.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://i.pinimg.com/736x/b0/91/8d/b0918df8b4be45021b4911e4257d033b.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://i.pinimg.com/736x/c5/d8/19/c5d819ca3cc4779bd30816e7fcb8f102.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #ffffff;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

:root {
  --glow-color: hsl(170, 85%, 41%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
